*{
    padding: 0;
    margin: 0;
}
.t1{
    width: 100%;
    font-size: 100px;
    text-align: center;
}
.advantage{
    height: 100px;
    width: 100%;
    display:flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.advantage>.adv{
    flex: 0 0 25%;
    height: 200px;
    background-color: red;
}